* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1d1c21;
  font-family: "Titillium Web", sans-serif;
}

body,
ul {
  margin: 0px;
  padding: 0px;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
}

#logo img {
  width: 176px;
}

#header {
  box-sizing: border-box;
  height: 100px;
  /* padding-top: 100px; */
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1c21;

  position: fixed;
  top: 0;
  width: 100%;

  z-index: 5;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
  color: #fff;

  text-decoration: none;
  font-size: 1.5rem;

  transition: 0.2s ease-in-out;
}
#menu a:hover {
  color: tomato;
}

#btn-mobile {
  display: none;
}

.container {
  max-width: 1720px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  /* display: flex;
  flex-direction: column; */
}
h1 {
  color: #fff;
}

.content-home {
  margin-top: 200px;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-left h1 {
  font-style: normal;
  font-weight: 600;
  font-size: max(100px, 5vw);
  /* font-size: clamp(1.75em, 1em + 3vw, 110px); */
  line-height: 99.6%;
}

.home-left h1 span {
  color: #f4332a;
}

.home-left h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 46px;
}

.home-left h3 {
  font-style: normal;
  font-weight: 200;
  font-size: 25px;
  margin-top: 25px;
}

.home-right img {
  width: 30rem;
}

.frase {
  display: flex;
  width: 100%;

  color: #fff;
}
.frase h3 {
  margin: 100px auto 280px auto;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 46px;
}
.frase h3 span:nth-child(2),
.frase h3 span:nth-child(3) {
  color: #f4332a;
}
.frase h3 span:nth-child(1),
.frase h3 span:nth-child(4) {
  color: #c1e039;
}

#sobre {
  background-color: #f4332a;
  min-height: 442px;
  margin-bottom: 60px;
}

.content-sobre {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #fff;
  padding: 10px 15px;
}

.content-sobre img {
  position: relative;
  width: 400px;

  left: 20px;
  top: -100px;

  border-radius: 16px;
}

.content-sobre div {
  margin-left: 5rem;
}

.content-sobre div h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 76px;

  margin-bottom: 27px;
}
.content-sobre div p {
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 141.1%;
}

.content-sobre div p + p {
  margin-top: 39px;
}

.content-sobre div a {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 37px;

  margin-top: 39px !important;
  color: #FFF;

  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.content-sobre div a:hover {
  color: #000000;
}

.box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 67px;
  background: linear-gradient(134.55deg, rgba(63, 61, 69, 0.4) 2.16%, rgba(29, 28, 33, 0.4) 92.02%);
}

.sobre-row{
  margin-top: 200px;
}

.sobre-row h2{
  margin-top: 30px;

  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 43px;

  color: #FFF;
}
.sobre-row h2 span{
  color: #f4332a;
}

.sobre-row p{
  margin-top: 30px;

  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 141.1%;

  color: #FFFFFF;
}

.progress-bar{
  display: flex;
  align-items: center;
}
.progress-bar h2{
  margin-top: 0 !important;
  font-style: normal;
  font-weight: 300;
  
  color: #FFF;
}
.progress-bar div{
  height: 6px;

  margin-left: 20px;
}

.box-progress div + div{
  margin-top: 30px;
}

.xp h2{
  margin-top: 30px;

  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 43px;

  color: #FFF;
}

.xp h2 span{
  color: #f4332a;
}

.xp-container{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.xp-container img{
  position: relative;
  top: -200px;
}

.xp-text p{
  width: 80%;

  margin-top: 30px;

  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 43px;

  color: #FFFFFF;
}

.xp-text p span{
  font-style: normal;
  font-weight: 700;
}

.contato{
  min-height: 50px;
  /* padding: 50px; */
  background-color: #f4332a;

}

.contato-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contato h2{
  font-style: normal;
  font-weight: 600;
  font-size: 70px;
  color: #FFF;
}

.contato h3{
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 115.6%;
  color: #FFF;
}

.form-container {
  width: 549px;

  background-color: #FFF;
  border: 5px solid #FF8E89;
  box-sizing: border-box;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  border-radius: 41px;

  padding: 40px;

  position: relative;
  top: -100px;

  z-index: 2;
}

.form-container form{
  display: flex;
  flex-direction: column;
}

.form-container form h4{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;

  color: #4C506E;
}

.form-container form input{
  width: 100%;

  border: none;
  outline: none;

  border-bottom: 2px #DDD solid;

  font-size: 20px;

  padding: 6px 8px;
}

.form-container form input:focus{
  border-bottom: 2px #f4332a solid;
}

.form-container form input + input{
 margin-top: 15px;
}

.form-container form textarea{
 border: 2px #DDD solid;
 outline: none;

 min-height: 140px;

 padding: 10px;
 font-size: 20px;
}

.form-container form textarea:focus{
  border: 2px #f4332a solid;
}

.btn-form{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.btn-form { margin-top: 30px;}

.btn-form button{
  width: 170px;
  height: 45px;
  background: #1392EA;
  border-radius: 6px;
  transition: 0.4s ease-in-out;
  border: none;
  outline: none;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.btn-form button:hover{ background-color: #f4332a; }

.trabalhos h2{
  margin-top: 30px;

  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 43px;

  color: #FFF;
}
.trabalhos h2 span{
  color: #f4332a;
}

.trabalhos-row{
  margin-top: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trabalhos-left{
  width: 700px;
}

.trabalhos-left h3{
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 115.6%;
}

.trabalhos-left p{
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160.6%;
}

.trabalhos-left p a{
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.trabalhos-left p a:hover{
  color: #f4332a;

}

.trabalhos-right img {
  border: 5px solid rgba(41, 41, 41, 0.8);
  border-radius: 12px;
  margin-left: 5px;
}

.logo-center{
  margin-top: 200px !important;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

footer{
  background-color: #18171a;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;

  margin-top: 120px;
}

.redes{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.redes a{
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 58px;

  color: #FFF;
  text-decoration: none;

  transition: 0.2s ease-in-out;
}

#redes1:hover{ color: rgb(195, 0, 255); }
#redes2:hover{ color: #1392EA; }
#redes3:hover{ color: #A4A4A4; }
#redes4:hover{ color: #1343EA; }

@media (max-width: 1199px){
  .home-left h1{
    font-size: 80px;
  }
  .home-right img{
    width: 300px;
  }

  .content-sobre img{
    top: -200px;
  }

  #sobre{
    padding-bottom: 20px;
  }

  .xp-container{
    flex-direction: column-reverse;
  }

  .xp-container img{
    top: -100px;
    right: -220px;
  }

  .trabalhos-row{
    flex-direction: column;
  }

  .trabalhos-left p{
    margin-top: 10px;
  }

  .trabalhos-right img{
    margin: 100px 0;
  }

  .contato-container div h3{
    font-size: 40px;
  }

  .redes a{
    font-size: 30px;
  }

}

@media (max-width: 960px){
  .home-left h1{
    font-size: 70px;
  }
  .home-left h2{
    font-size: 20px;
  }
  .home-right img{
    width: 220px;
  }

  .frase h3{
    margin-bottom: 140px;
  }

  .content-sobre{
    flex-direction: column;
  }

  .content-sobre img{
    /* top: -50px;
    left: -100px !important;  */
    top: 0;
    left: 0; 
  }

  .content-sobre div h2{
    margin-top: 25px;
  }
  .content-sobre div{
    margin-left: 0;
  }

  #sobre{
    padding-top: 20px;
  }

  .xp-container img{
    top: -20vw;
    right: -180px;

    width: 60vw;
  }

  .xp-text p{
    width: 100%;
  }

  .form-container{
    
  }

  .logo-center img{
    width: 500px;
    margin-bottom: 100px;
  }

  .redes{
    flex-direction: column;
  }

  .wrapper{
    height: 30vh !important;
  }

  #redes {
    gap: 60px;
  }

  footer{
    margin-top: 60px;
  }

  #header {
    padding: 60px 10px;
  }
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 100px;
    right: 0px;
    background: #1d1c21;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;

    color: #fff;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

@media (max-width: 699px){
  .home-right img{
    display: none;
  }

  .home-left h1{
    font-size: 60px;
  }

  .frase h3{
   font-size: 4vw;
  }

  .xp-container img{
    top: -100px;
    right: -100px;
  }

  .xp-text p{
    width: 100% !important;
  }

  .contato-container{
    flex-direction: column;

    padding-bottom: 25px;
  }

  .form-container{
    position: static;

    width: 80vw;
    margin-top: 20px;
  }

  .trabalhos-left{
    width: 80vw;
  }

  .trabalhos-right img{
    width: 80vw;
  }


  .logo-center img{
    width: 70vw;
  }

  .animated-circle-text{
    display: none;
  }

  #last-trabalho{
    margin-bottom: -20px;
  }

  .logo-center{
    margin-bottom: 0 !important;
  }

  .redes{
    margin-top: 10px;
  }

}

@media (max-width: 471px){
  .home-left h1{
    font-size: 13vw;
  }
  .home-left h2{
    font-size: 5vw;
  }
  .home-left h3{
    font-size: 4vw;
  }
  
  .content-sobre img{
    width: 80vw;
  }
  p{
    font-size: 4vw !important;
    line-height: 141.1% !important;
  }

  .contato-container div h2{
    font-size: 12vw;
  }
  .contato-container div h3{
    font-size: 8vw;
  }

  .contato-container h3{
    margin-top: 20px;
  }

    .content-sobre img{
    /* top: -50px;
    left: -100px !important;  */
    top: 0;
    left: 0; 
  }
  .form-container{
    width: 100%;
    padding: 20px 0 20px 10px !important;

    margin-top: 80px;
  }

  .xp-container img{
    position: static;
    margin: 45px auto;
   
  }

  .form-container form input,
  .form-container form textarea {
    font-size: 4vw !important;
    width: 75vw;
  }

  .btn-form button{
    width: 20vw;
    padding: 4px;
    font-size: 5vw;
    margin-right: 10px;
  }

  #logo img{
    width: 30vw !important;
  }
  
  .logo-center img{
    margin: 0 auto 0 auto;
  }

  .redes{
    margin-top: 0 !important;
  }
}